@import 'colors';
@import 'mixins';

footer{
  @include darkBlue(to right);
  clip-path: polygon(40% 4%, 92% 45%, 100% 100%, 0% 100%);
  color: white;
  padding-top: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
  bottom: 0;

  #footer-form{
    form{
      position: relative;
      
      > *{
        margin-bottom: 20px;
      }

      width: 400px;
      margin: auto;
      text-align: center;
      .form-header{
        .icon{
          padding: 10px;
          .hexa{
            @include orange(to bottom);
            &::before {
              @include orange(to right bottom);      
            }
    
            &::after {
              @include orange(to left bottom);
            }
          }
        }
        h1{
          font-size: 1.6em;
        }
      }

      .form-content{
        .input-with-icon{
          position: relative;
          span{
            color: $sub-text;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 12px;
          }
          input{
            font-size: 14px;
            text-align: center;
            border: 0;
            padding: 10px 12px;
            width: 100%;
            border-radius: 5px;
          }

          input::placeholder { 
            color: $sub-text;
          }
        }
      }

      .form-footer{
        padding-bottom: 50px;

        input[type="submit"]{
          border: 0;
          text-transform: uppercase;
          padding: 10px 20px;
          border-radius: 5px;
          color: white;
          font-size: 0.6em;
          font-weight: bolder;
          @include blue(to right bottom);
        }
      }
    }
  }

  .footer{
    padding: 0 60px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    .social{
      i{
        cursor: pointer;
        font-size: 1.3em;
        margin-left: 10px;
      }
    }
    .copyrights{

    }

    .site{

    }
  }

  #random-hexa-container{
    font-size: 1px;
    width: 100%;
    height: 100%;
    position: absolute;
    .hexa{
      position: absolute;
      z-index: -1;
      
      font-size: 0.5em;
      top: 33px;
      right: 25px;
      left: 101px;
      bottom: 66px;
      opacity: 0.5;
    }
  }

}