@import 'colors';
@import 'mixins';

#home{
  margin-bottom: 40px;
  // height: 600px;

  .background{
    width: 100%;
    height: 190%;
    padding-bottom: 180px; 
    padding-left: 20px;
    @include darkBlue(to right);
    clip-path: polygon(0 0, 100% 0, 100% 46%, 70% 85%, 22% 68%, 0 28%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 44%, 78% 76%, 20% 68%, 0% 13%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 54%, 78% 92%, 18% 84%, 0% 13%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 54%, 78% 100%, 13% 88%, 0% 20%);
    .header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 24px 0;
      .logo{
        width: 70px;

        img{
          width: 80%;
          margin: auto;
          display: block;
        }
      }

      nav{
        li{
          display: inline-block;
          margin-left: 25px;
          padding: 6px 12px;
        }
        li.active{
          background-color: rgba(239, 237, 237, 0.26);
        }
      }

      .login{
        button{
          color: rgb(54, 191, 255);
          background-color: #FFF;
        }

        > * {
          margin-left: 20px;
        }
      }

      .collapse-btn, .collapse-content{
        display: none;
      }

      .collapse-btn{
        padding: 0 35px;
        color: #FFF;
        cursor: pointer;
        font-size: 1.2em;
        position: relative;
      }

      .collapse-content{
      }
    }

    .content{
      display: flex;
      justify-content: space-around;
      .image{
        width: 50%;
        img{
          width: 70%;
          display: block;
          margin: auto;
        }
      }

      .text{
        width: 40%;
        max-width: 300px;
        margin: auto;
        color: white;

        .title{
          text-transform: capitalize;
          line-height: 1.9em;
        }
        .description{
          color: $sub-text-sharp;
          font-size: 0.8em;
          line-height: 1.8em;
        }
        .buttons{
          
          :nth-child(1){
            @include orange(to right);
            margin-right: 15px;
          }

          :nth-child(2){
            background-color: transparent;
            border: 1px solid #fff;
          }
        }

        > *{
          margin-bottom: 20px;
        }
      }
    }

    > * {
      margin-bottom: 20px;
    }

    a,button{
      text-transform: uppercase;
      text-decoration: none;
      color: $sub-text-sharp;
      font-size: 0.8em;
      color: #FFF;
      font-weight: bolder;
    }
  }

  .footer{
    .cards-container{
      display: flex;
      justify-content: space-around;
      margin-top: -150px;
      .card{
        max-width: 220px;
        width: 30%;
        background-color: #fff;
        text-align: center;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0px 4px 20px 0px #92929291;
        z-index: 5555;

        .hexa.parent{
          font-size: 0.3em;
          border: solid #EEE;
          border-width: 2px 0px;
          box-sizing: content-box;
          // border-radius: 5px;
          background-color: transparent;

          &::before{
            border: solid #EEE;
            border-width: 2px 0px;
            box-sizing: content-box;
            background-color: transparent;
          }

          &::after{
            border: solid #EEE;
            border-width: 2px 0px;
            box-sizing: content-box;
            background-color: transparent;
          }

          > .hexa{
            transform: rotate(0);
            font-size: 0.8em;

            &.orange{
              @include orange(to bottom);
              &::before {
                @include orange(to right bottom);      
              }
      
              &::after {
                @include orange(to left bottom);
              }
            }

            &.blue{
              @include blue(to bottom);
              &::before {
                @include blue(to right bottom);      
              }
      
              &::after {
                @include blue(to left bottom);
              }
            }

            &.darkBlue{
              @include darkBlue(to bottom);
              &::before {
                @include darkBlue(to right bottom);      
              }
      
              &::after {
                @include darkBlue(to left bottom);
              }
            }
          }
        }

        .title{
          font-weight: bolder;
        }
        .description{
          color: $sub-text-sharp;
          font-size: 0.8em;
        }
        .read-more{}
        >*{
          margin-bottom: 20px;
        }
      }
    }
  }
}